body {

    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;

}

.pokemon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    text-transform: capitalize;
    cursor: pointer;
}

.pokemon-card:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.pokemon-type-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.grass {
    background-color: #78C850;
    color: white;
}

.fire {
    background-color: #F08030;
    color: white;
}

.water {
    background-color: #6890F0;
    color: white;
}

.bug {
    background-color: #A8B820;
    color: white;
}

.normal {
    background-color: #A8A878;
    color: white;
}

.electric {
    background-color: #F8D030;
    color: white;
}

.fairy {
    background-color: #EE99AC;
    color: white;
}

.fighting {
    background-color: #C03028;
    color: white;
}

.poison {
    background-color: #A040A0;
    color: white;
}

.ground {
    background-color: #E0C068;
    color: white;
}

.flying {
    background-color: #A890F0;
    color: white;
}

.psychic {
    background-color: #F85888;
    color: white;
}

.rock {
    background-color: #B8A038;
    color: white;
}

.ghost {
    background-color: #705898;
    color: white;
}

.dragon {
    background-color: #7038F8;
    color: white;
}

.dark {
    background-color: #705848;
    color: white;
}

.steel {
    background-color: #B8B8D0;
    color: white;
}

.ice {
    background-color: #98D8D8;
    color: white;
}